<!-- <div class="container">
  <div class="row">
    <p id="notice"><%= notice %></p>

    <% if !params[:q].blank? %>
      <h3><%= params[:q].upcase %> Participation</h3>
    <% else %>
      <h3>Vos participations</h3>
    <% end %>
  </div>
  <div class="row">
    <%= render '/shared/card_participation' %>

    <%= link_to 'Nouvelle participation', new_participation_path %>
  </div>
</div>
 -->
