<h1>new</h1>

<% @participation.participation_pictures.each do |participation_picture| %>
  <%= cl_image_tag participation_picture.path, width: 300, height: 200, crop: :fill %>
<% end %>
<%= render 'form', participation_pictures: @participation %>
