<footer>
<hr>
  <div class="img-part">
    <p>Faites leurs confiance, ils partagent nos valeurs </p>
    <ul class="img-list">
      <li>
      <%= link_to((image_tag"drole-pain-washin5.png"), 'http://www.??/') %>
      </li>

      <li>
      <%= link_to((image_tag"cleaning-bio.jpeg"), 'http://www.??/') %>
      </li>

      <li>
      <%= link_to((image_tag"cjd-washin5.png"), 'http://www.??/') %>
      </li>

      <li>
      <%= link_to((image_tag"logo-WW-3-washin5.png"), 'http://www.??/') %>
      </li>
    </ul>
  </div>
  <div class="container">
    <div class="row">
      <div class="mentions-footer">
        <div class="col-xs-12 col-sm-4">
          <ul class="links-list">
            <li>Projets</li>
            <li>Photos</li>
            <li>Presse</li>
          </ul>
       </div>

        <div class="col-xs-12 col-sm-4">
          <ul class="links-list">
            <li>Partenaires</li>
            <li>Equipe</li>
            <li>Contact</li>
          </ul>
        </div>

        <div class="col-xs-12 col-sm-4">
          <ul class="links-list">
            <li>Mentions légales</li>
            <li>Politique de confidentialité</li>
            <li>Conditions d'utilisation</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>

<!--<footer><footer class="row" style="background-color:red; padding:bottom;">
  <div class="col-md-6" style="background-color:blue;">
    <h3>hhhhhhhhh</h3>
  </div>
  <div class="col-md-6" style="background-color:red;">
    <h3>hhhhhhhhh</h3>
  </div>

</footer>-->
