<% if current_user && !current_user.facebook_id %>
  <div class="text-center">
    <h2>Recevez nos challenges sur Messenger</h2>
    <p>Cliquez sur le bouton ci-dessous</p>
    <div class="fb-send-to-messenger"
      messenger_app_id="<%= ENV['APPLICATION_ID'] %>"
      page_id="<%= ENV['FACEBOOK_PAGE_ID'] %>"
      data-ref="<%= current_user.id %>"
      color="blue"
      size="xlarge">
    </div>
  </div>
<% end %>

<script>

    window.fbAsyncInit = function() {
      FB.init({
        appId: "<%= ENV['APPLICATION_ID'] %>",
        xfbml: true,
        version: "v2.6"
      });

    };

    (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) { return; }
       js = d.createElement(s); js.id = id;
       js.src = "//connect.facebook.net/en_US/sdk.js";
       fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

  </script>
