<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "logo.png" , size: "50"%>
  <% end %>

  <ul class="nav nav-pills">
  <li role="presentation"><a href="#">Projets</a></li>
  <li role="presentation"><a href="#">Photos</a></li>
  <li role="presentation"><a href="#">Presse</a></li>
  <li role="presentation"><a href="#">Equipe</a></li>
  <li role="presentation"><a href="#">Contact</a></li>
  <li class="dropdown">
    <button role="presentation" class="btn btn-link" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      Partenaire
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <li class="licolor"><a href="#">Devenir partenaire</a></li>
      <li ><a href="#">Afficher tout les partenaires</a></li>
    </ul>
  </li>
  <li class="dropdown1">
    <button role="presentation" class="btn btn-link img1" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    <%= image_tag "user.png", size: "30"%>
    </button>
    <ul class="dropdown-menu" id="dropdownMenu2" aria-labelledby="dropdownMenu1">
      <li><a href="#">Connexion</a></li>
      <li class="licolor"><a href="#">Inscription</a></li>
    </ul>
  </li>

  </ul>
</div>
