<div class="container">
  <div class="row">
         <div class="col-md-6 col-md-offset-3">
            <div class="text-center">
               <h2>Contactez-nous !</h2>
               <form action="" method="post">
                  <input type='hidden' name='' value='' />
                  <div class="form-group">
                     <input class="form-control" id="id_nom" maxlength="100" name="nom" placeholder="Votre nom" type="text" />

                  </div>

                  <div class="form-group">
                     <input class="form-control" id="id_email" name="email" placeholder="Votre e-mail" type="email" />

                  </div>

                  <div class="form-group">
                     <textarea class="form-control" cols="40" id="id_message" name="message" placeholder="Votre message" rows="10">
                      </textarea>

                  </div>

                  <button type="submit" class="btn btn-default">Envoyer</button>
               </form>

            </div>
         </div>


      </div>
</div>


<div class="container text-center">
  <h2>Retrouvez-nous sur les réseaux sociaux</h2>
  <div class="contact-share">
    <a href="http://www.facebook.com/washin5challenge/" target="_blank" class="bg-facebook">
      <i class="fa fa-facebook fa-share-card"></i>
    </a>
    <a href="https://twitter.com/washin5challeng" target="_blank" class="bg-twitter">
      <i class="fa fa-twitter fa-share-card"></i>
    </a>
    <a href="https://www.instagram.com/washin5challenge" target="_blank" class="bg-instagram">
      <i class="fa fa-instagram fa-share-card"></i>
    </a>
  </div>
</div>
