<div class="container">
<h2>Ils parlent de nous</h2>
  <div class="row">
    <div class="row">
      <article class="col-md-3">
        <figure class="col-lg-12">
          <a href="http://www.jesuisdebordee.com/2017/07/economiser-l-eau/"><img class="img img-responsive article-img" src="http://www.jesuisdebordee.com/wp-content/uploads/2017/07/economiser_eau_01.jpg"></a>
          <figcaption class="article-caption"><h3 class="article-title"><a href="http://www.jesuisdebordee.com/2017/07/economiser-l-eau/">Economiser l’eau, défi écologique et économique</a></h3>
            </figcaption>
          </figure>
          <div class="article-intro col-lg-12 text-center" style="padding-top: 10px;">
            <p><strong>Blog - Je suis débordée</strong></br> Article du 7 juillet 2017 </p>
          </div>
        </article>
      <article class="col-md-3">
        <figure class="col-lg-12">
          <a href=""><img class="img img-responsive article-img" src="http://farm1.staticflickr.com/354/18141136234_6aee6ac0ea_k.jpg"></a>
          <figcaption class="article-caption"><h3 class="article-title"><a href="">Titre</a></h3>
          </figcaption>
        </figure>
      </article>
      <article class="col-md-3">
        <figure class="col-lg-12">
          <a href=""><img class="img img-responsive article-img" src="http://farm1.staticflickr.com/354/18141136234_6aee6ac0ea_k.jpg"></a>
          <figcaption class="article-caption"><h3 class="article-title"><a href="">Titre</a></h3>
          </figcaption>
        </figure>
      </article>
      <article class="col-md-3">
        <figure class="col-lg-12">
          <a href=""><img class="img img-responsive article-img" src="http://farm1.staticflickr.com/354/18141136234_6aee6ac0ea_k.jpg"></a>
          <figcaption class="article-caption"><h3 class="article-title"><a href="">Titre</a></h3>
          </figcaption>
        </figure>
      </article>
    </div>


    <div class="row">
      <article class="col-md-3">
        <figure class="col-lg-12">
          <a href="http://www.jesuisdebordee.com/2017/07/economiser-l-eau/"><img class="img img-responsive article-img" src="http://www.jesuisdebordee.com/wp-content/uploads/2017/07/economiser_eau_01.jpg"></a>
          <figcaption class="article-caption"><h3 class="article-title"><a href="">Economiser l’eau, défi écologique et économique</a></h3>
            </figcaption>
          </figure>
          <div class="article-intro col-lg-12 text-center" style="padding-top: 10px;">
             <p><strong>Blog - Je suis débordée</strong></br> Article du 7 juillet 2017 </p>
          </div>
        </article>
        <article class="col-md-3">
          <figure class="col-lg-12">
            <a href=""><img class="img img-responsive article-img" src="http://farm1.staticflickr.com/346/18328027128_704280cd4c_k.jpg"></a>
            <figcaption class="article-caption"><h3 class="article-title"><a href="">Titre</a></h3>
            </figcaption>
          </figure>
        </article>
        <article class="col-md-3">
          <figure class="col-lg-12">
            <a href=""><img class="img img-responsive article-img" src="http://farm1.staticflickr.com/354/18141136234_6aee6ac0ea_k.jpg"></a>
            <figcaption class="article-caption"><h3 class="article-title"><a href="">Titre</a></h3>
            </figcaption>
          </figure>
        </article>
        <article class="col-md-3">
          <figure class="col-lg-12">
            <a href=""><img class="img img-responsive article-img" src="http://farm1.staticflickr.com/354/18141136234_6aee6ac0ea_k.jpg"></a>
            <figcaption class="article-caption"><h3 class="article-title"><a href="">Titre</a></h3>
            </figcaption>
          </figure>
        </article>
      </div>
    </div>
  </div>
