<%= render 'shared/banner' %>
<div class="container">
  <h1>L'idée</h1>
  <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae dignissimos vel et eveniet aliquid, nulla, labore repudiandae ullam est quasi distinctio amet veniam accusamus error dolorum vero cupiditate inventore quibusdam ut. Amet, earum. Voluptas, quos, fugit. Eos assumenda, deserunt optio repellat incidunt suscipit. Magni, quam quidem odit. Dolore neque sit explicabo ex odio id quaerat repudiandae quos molestias quasi perferendis placeat accusantium eaque amet ullam fugiat, vel vitae ad voluptas consequuntur aut a perspiciatis alias. Sint error veritatis atque, maiores architecto ex consequatur recusandae impedit modi nam molestiae tenetur asperiores, animi tempore porro aperiam, dolor quas sit quia a sed!</p>
</div>
<div class="container grey">
  <h1>D'abord économiser...</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita voluptas in, eaque? Nisi eos consequatur quisquam doloremque consectetur, quibusdam nemo. Facilis, illo, sint. Eligendi ab nisi eos praesentium dolor nostrum sint sed accusamus harum atque magni odio nobis sequi, quasi consequuntur. Necessitatibus qui minima illum, aut. Ex quaerat quis quos.</p>
  <h1>... puis redistribuer</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus facilis, officia ad, quod cum deleniti esse repudiandae impedit consequatur alias sequi voluptatibus odit nisi placeat, eum beatae totam. Esse, similique voluptatem blanditiis nam provident nisi voluptatum, harum velit magnam maxime iure dicta. Nulla quo porro molestiae, sed facere laudantium dolore.</p>
</div>
<div class="container">
  <h1>L'histoire</h1>
</div>
