// Your footer style
footer {
 text-align: center;
 color: #175071;
 bottom: 0px;
 //position: relative;

  ul {
    list-style-type: none;
  }
}

.img-part {
  img {
    max-width: 200px;
    max-height: 100px;
    margin: 0px 10px 0px 10px;
  }
}

  .img-list {
    li {
      display: inline-block;
    }
  }
  .container {
    max-height: 80px;
  div{
    background-color: #175071;
    border-radius: 30px;

    bottom: 0px;

    li{
     text-align: left;
     color: #F1F1F1;
      }
    }
  }
// footer ul{
//   color: #175071;
// }

// .img-part li{
//   list-style: none;
//   height: 50px;
//   display: ;
// }

// .img-part img{
//   height: 70px;
//   margin: 10px 50px 50px 50px;
// }
// .mentions-footer{
//   background-color: #175071;
//   margin: 70px;
//   text-align: left;
// }
