// Your footer style
// .bloc-empty {
//  weight: 100%;
//  height: 300px;
//  background-color: #fff;

// }
footer {
 background-color: #175071;
 width: 100%;
 text-align: center;
 color: #175071;
 bottom: 0;
 margin-top: 100px;
 position: relative;
 .row{
  padding: 0 !important;
 }
  ul {
    list-style-type: none;
  }
  a {
  color: #8BA8B8;
  &:hover {
    text-decoration:none;
    color: white;
  }
  }

////////////////////////////// Carrousel ////////////////////////////////


body{padding-top:20px;}
.carousel {
    margin-bottom: 0;
    padding: 0 40px 30px 40px;
}
/* The controlsy */
.carousel-control {
  top: 7px;
  left: -12px;
  width: 40px;
  font-size: 130px;
  background-image: none !important;
}
.carousel-control.right {
  right: -12px;
}
// /* The indicators */
// .carousel-indicators {
//   right: 50%;
//   top: auto;
//   bottom: -10px;
//   margin-right: -19px;
// }
/* The colour of the indicators */
// .carousel-indicators li {
//   background: #cecece;
// }
// .carousel-indicators .active {
// background: #428bca;
// }

.img-part {
  img {
    max-width: 170px;
  }
}

  .img-list {
    li {
      display: inline-block;
    }
  }
  .container {
  div{

    padding: 7px;



    li{
     text-align: center;
     padding: 5px;
     color: #F1F1F1;
      }
    }
  }

}
// footer ul{
//   color: #175071;
// }

// .img-part li{
//   list-style: none;
//   height: 50px;
//   display: ;
// }

// .img-part img{
//   height: 70px;
//   margin: 10px 50px 50px 50px;
// }
// .mentions-footer{
//   background-color: #175071;
//   margin: 70px;
//   text-align: left;
// }
