.form-login {
  background: white;
  border: 1px solid #DEDADA;
  padding: 30px 20px;
  margin-top: 50px;
  border-radius: 5px;
}
.btn_log {
  background-color: #E60000 !important;
  width: 100%;
  color: white !important;
}
.marginb {
  margin-bottom: 20px;
}
.stroke {
  width: 50%;
}

.fb_login
{
  background-color: #5A80B6;
  width: 100%;
  height: 47px;
  border-radius: 2px;
  padding: 12px 25px;
  color: white;
}
