.form-login {
  background: white;
  border: 1px solid #DEDADA;
  padding: 30px 20px;
  margin-top: 50px;
  border-radius: 5px;
}
.btn_log {
  background-color: #CE0012;
  width: 100%;
}
.marginb {
  margin-bottom: 20px;
}
.stroke {
  width: 50%;
}
